<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
#	redirect address
RewriteCond %{HTTP_HOST} ^www\.dealshare\.ie$
RewriteRule ^/?$ "http\:\/\/dealshare\.ie\/" [R=301,L]
#
RewriteCond %{HTTP_HOST} ^80\.93.\.17\.155
RewriteRule (.*) http://www.yourdomain.com/$1 [R=301,L]
#	signup
RewriteRule ^account/add-deal/?(.*)$ pages/account/add-deal/$1/ [L,QSA]
RewriteRule ^account/edit-profile/?(.*)$ pages/account/edit-profile/$1/ [L,QSA]
RewriteRule ^account/activation/?(.*)$ pages/account/activation/?page-type=account-activation&url=$1 [L,QSA]

RewriteRule ^deal/?(.*)$ pages/deal/?page-type=view-deal&url=$1 [L,QSA]
RewriteRule ^user-deals/?(.*)$ pages/user-deals/?page-type=user-deals&url=$1 [L,QSA]
RewriteRule ^account/?(.*)$ pages/account/$1/ [L,QSA]
RewriteRule ^about/?(.*)$ pages/about/$1/ [L,QSA]
RewriteRule ^contact/?(.*)$ pages/contact/$1/ [L,QSA]
RewriteRule ^help-browser/?(.*)$ pages/help-browser/$1/ [L,QSA]
RewriteRule ^help-upload/?(.*)$ pages/help-upload/$1/ [L,QSA]



#	check if request is file
RewriteCond %{REQUEST_FILENAME} !-f

#	check if request is directory
RewriteCond %{REQUEST_FILENAME} !-d

#	if so redirect everything to index
RewriteRule . /index.php [L]
</IfModule>
